.sign_advanced{
    width: 1500px;
    border: 1px;
    margin-top: 10px;
}

.block{
    display: flex;
    flex-direction: column;
    width: 1500px;
    border: solid 1px black;
}

.submit_button{
    height: 20px;
    width: 80px;
}

.display_box{
    height: 200px;
    width: 150px;
    position:fixed;
    z-index: 5px;
    top:0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.submit_target{
    height: 800px;
    width: 500px;
    position:fixed;
    
    /* z-index: 10px; */
    top:0px;
    right: 300px;
    background: white;
}

.preview_target{
    height: 200px;
    width: 150px;
    /* position:fixed;
    top:0px;asdf
    right: 0px;*/
    background: white; 
    overflow-y:scroll
}

.iframe_button{
    height: 20px;
    width: 80px;
    top:20px;
    left: 0px;
}

.butt_box{
    width: 80px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 500px;
}

